{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 place-items-center w-[90%]">
        <h1 class="text-2xl font-bold">Login</h1>
        {% if error %}
            <div class="w-2/5 mt-3">
                <div class="w-full bg-red-100 bg-opacity-80 rounded-md px-3 py-2 flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 stroke-red-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>
                    <p class="text-sm text-red-500">{{ error }}</p>
                </div>
            </div>
        {% endif %}
        <form action="/doc-query/login" class="space-y-2 w-2/5" method="post">
            {% csrf_token %}
            <div class="space-y-1">
                <label class="text-xs" for="username">Username</label>
                <div>
                    <input class="w-full border-none rounded-md text-sm" placeholder="johnsmith" type="text" name="username" value={{ username }}>
                </div>
            </div>
            <div class="space-y-1">
                <label class="text-xs" for="password">Password</label>
                <div>
                    <input class="w-full border-none rounded-md text-sm" placeholder="password123" type="password" name="password" value={{ password }}>
                </div>
            </div>
            <div class="w-full grid grid-cols-1 place-items-center">
                <input class="mt-2 cursor-pointer text-lg hover:text-blue-500"
                       type="submit"
                       value="Login">
            </div>
        </form>
        <p class="text-xs mt-5">
            Don't have an account? <a class="text-blue-500" href="/doc-query/signup">Sign up here</a>
        </p>
    </div>
{% endblock %}
